*{
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

header h2{
    font-size: 200%;
    padding: 0% 2% 0% 2%;
}
nav{
    float: left;
    padding: 0% 2% 0% 0%;

}

#maincol{
    width: 100%;
    padding: 0% 2% 0% 2%;
}

.col{
    width: 23%;
    margin: 0% 5% 0% 5%;
    height: 400px;
}


@media screen and (max-width: 500px){
#maincol{
    width: 96%;
    padding: 0% 2% 0% 2%;
}
.col{
    width: 96%;
    margin: 0% 2% 0% 2%;
    height: 300px;
}
}

